:root{
    --pri:#F8F4E1;
    --sec:#331105;
    --tri1:#FEBA17;
    --tri2:#74512D;
    --red:red;
    --green:rgb(42, 126, 62);
    --blue:rgb(0, 191, 255);
    --black:black;
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}
html,
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    overflow: hidden;
}
nav{
    position: fixed;
    width: 100%;
    /* height: 60px; */
    background-color: var(--tri2);
    padding: 10px 30px;
}
nav .nav-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    position: absolute;
    overflow: hidden;
}
.allElems header{
    height: 280px;
    width: 100%;
    /* background-color: var(--tri2); */
    background-image: url(https://images.unsplash.com/photo-1717361279773-b2e7ee713d2e?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    margin-bottom: 32px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
header .header1 h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}
header .header1 h4{
    font-size: 50px;
    font-weight: 500;
    
}
header .header1 h2{
    font-size: 40px;
    font-weight: 500;
}
header .header2 h2{
    font-size: 50px;
    font-weight: 700;
}
header .header2 h3{
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
}
header .header2 h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.allElems .allFeatures{
display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}
.elem{
    background-color: var(--tri1);
    /* padding: 30px 40px; */
    font-size: 20px;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow:5px 5px 20px rgba(0, 0,0,0) ;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 500;
    font-size: 25px;
}
.elem:active{
    scale: 0.95;
}
.fullElems{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    /* font-size: 40px; */
    display: none;
    position: absolute;
    padding: 30px;
}
.back{
    position: absolute;
    background-color: var(--red);
    right: 5%;
    border-radius: 10px;
    border: none;
    padding: 10px 11px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.back:active{
    scale: 0.9;
}
.todo-list-fullPage h2{
    font-size: 60px;
}
.todo-list-fullPage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullPage .todo-container .addTask{
    width: 35%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}
.todo-list-fullPage .todo-container .allTask{
    width: 64%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding: 40px;
    overflow: auto;
}
.todo-list-fullPage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addTask form input#task-input{
    padding: 10px 25px;
    /* width: 100%; */
    font-size: 22px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 500;
}
.todo-container .addTask form textarea{
    padding: 8px 25px;
    width: 100%;
    font-size: 22px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button{
    padding: 10px ;
    width: 100%;
    font-size: 22px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition:all ease 0.3sec;
}
.todo-container .addTask form button:active{
    scale:0.95
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.task h5{
    color: var(--sec);
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.task  span{
    color: var(--pri);
    background-color: var(--red);
    padding: 4px 6px;
    font-size: 8px;
    border-radius: 10px;
}
.task  span.true{
    opacity: 1;
}
.task span.false{
    opacity: 0;
}
.task button{
    padding: 10px 22px;
    color: var(--pri);
    background-color: var(--green);
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}
.task button:active{
    scale: 0.9;
}
.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    margin-bottom: 10px;
    width: 100%;
    gap: 30px;
}
.mark-imp input{
    scale: 1.7;
}
.mark-imp label{
    font-size: 20px;
}
.imp {
    color: var(--pri);
    background-color: var(--red);
    padding: 4px 6px;
    font-size: 8px;
    border-radius: 10px;
}
details {
    margin-bottom: 8px;
  /* background-color: #FEBA17; */
    padding: 8px;
    border-radius: 5px;
    color: var(--sec);
}
details p{
    color: var(--sec);
}
summary {
    font-weight: bold;
    cursor: pointer;
    color: var(--sec);
}
.daily-planner-fullPage{
    /* display: block; */
}
.daily-planner-fullPage h2{
    font-size: 60px;
}
.daily-planner-fullPage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}
.day-planner .day-planner-time{
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 10px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top: 12%;
    left: 2%;
    font-size: 18px;
    color: var(--tri1);
}
.day-planner .day-planner-time input{
    padding: 15px 30px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 26px;
    padding-top: 30px;
    outline: none;
}
.motivation-fullPage{
    position: relative;
}
.motivation-container-fullpage{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.motivation-fullPage .motivation-container{
    height: 500px;
    width: 70%;
    /* background-color: var(--tri2); */
    position: relative;
}
.motivation-fullPage .motivation-container::after{
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri1);
    border-radius: 50px;
    scale: 1.15;
    filter:blur(100px);
    z-index: 8;
}
.motivation-fullPage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    /* height: 100%; */
    width: 100%;
    background-color: var(--tri1);
    border-radius: 30px;
    padding: 17px;
    border: 3px solid var(--tri2);
}
.motivation-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.motivation-1 h2{
    padding: 20px;
    width: fit-content;
    background-color: var(--tri2);
    border-radius: 25px;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
}
.motivation-2{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.motivation-2 h1{
    font-size: 40px;
    font-weight: 700;
    color: var(--sec);
}
.motivation-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.motivation-3 h2{
    padding: 20px;
    width: fit-content;
    background-color: var(--tri2);
    border-radius: 25px;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
}
.motivation-fullPage .motivation-container .motivation-wrapper img{
    position: absolute;
    right: 5%;
    top: 5%;
    opacity: 0.2;
    height: 120px;
}
.pomodoro-fullPage{
    /* display: block; */
    position: relative;
}
.pomodoro-fullPage h2{
    font-size: 55px;
} 
.pomodoro-fullPage .pomo-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.pomo-timer h1{
    font-size: 130px;
}
.pomo-timer button{
    background-color: var(--tri2);
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    box-shadow: 5px 5px 0px var(--black);
    transition: all ease 0.2s;
    font-weight: 700;
}
.pomo-timer button:active{
    scale: 0.9;
    box-shadow: 0px 0px 0px var(--black);
}
.pomodoro-fullPage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: var(--green);
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 5px;
    /* color: var(--green); */
}
.theme{
    background-color: var(--pri);
    padding: 8px;
    border-radius: 50%;
}
.theme i{
    color: var(--sec);
}

